.image img {
  width: 100%;
}
.text {
  background: black;
  padding: 22px 14px;
  text-align: justify;
  margin-top: 0px;
}
.text h2 {
  text-transform: capitalize;
  font-weight: 600;
}
.text p {
  font-size: 18px;

}
.text a {
  color: red;
  font-size: 20px;
  text-transform: capitalize;
}
.asa img {
  width: 100%;
  margin-top: 72px;
  height: 500px;
  object-fit: contain;
}
.slider.slider-2 h2 {
  color: red;
}











.vishal {
  color: #000;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  margin-top: 41px;
  margin-bottom: 37px;
}